# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-or-publishable-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Prisma
DATABASE_URL=postgresql://postgres.user:password@pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
DIRECT_URL=postgresql://postgres.user:password@db.project.supabase.co:5432/postgres

# Next.js
NEXT_PUBLIC_SITE_URL=http://localhost:3000
